@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Oswald", sans-serif;
    font-weight: light;
}

body {
    height: 97.8vh;
    background: linear-gradient(to bottom, #0280fe, #779dfe);
}

input#txtloc {
    width: 200px;
    border: none;
    border-radius: 10px;
    margin: 0px auto 10px;

    color: #ffffff;
    background-color: #0280fe;

    text-align: center;
    outline: 0;
    font-size: 1.5em;
}

#txtloc::placeholder {
    color: #ffffff;
    text-align: center;
}

div#box {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    transform: translate(5%, 10%);

    background: linear-gradient(to bottom, #ffffff3e, #ffffff3e);
    border-radius: 20px;
    width: 280px;
    height: 550px;
    color: #3b7786;
    overflow: hidden;

    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.114);
}

div#items {
    margin: 40px;
    text-align: center;

    & #region {
        margin: auto;
        /* margin: 10px 30px 0 0; */
        color: #ffffff;
        font-size: 1.2em;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.099);
    }

    & #localTime {
        margin: auto;
        /* margin: 0 20px -10px 0; */
        color: #ffffffaa;
        font-size: 1em;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.099);
    }

    & #locationPoint {
        width: 15px;
        margin: auto;
        /* margin: 5px 2px 0 0px; */
    }
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto 0;
    border-radius: 40px;



    & img {
        width: 70px;
        margin: 10px -10px 0;
    }

    & #temp {
        color: #ffffff;
        margin: auto;
        /* margin: 5px 30px 0 0px; */
        font-size: 60px;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.099);
    }
}

& #condition {
    color: #ffffff;
    font-size: 1.2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.099);
    margin: -8px auto;
}