@charset "UTF-8";

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #3ed8ff;
}

div#box {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    transform: translate(5%, 10%);

    background: linear-gradient(to bottom, #b7efff, #51dcff);
    border-radius: 20px;
    width: 270px;
    height: 550px;
    color: #3b7786;
    overflow: hidden;

    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.114);
}

div#items {
    margin: 40px;
    text-align: center;

    & #region {
        margin: 10px 20px 0 0;;
        color: #c9f4ff;
        font-size: 1.2em;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.099);
    }

    & #localTime {
        margin: 0 20px 10px 0;
        color: #c9f4ff;
        font-size: 1.2em;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.099);
    }
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #3ed8ff;
    margin-left: -30px;
    border-radius: 40px;
    width: 250px;
    height: 70px;


    & img {
        width: 70px;
    }

    & #temp {
        color: #c9f4ff;
        margin: 5px 5px 0 0px;
        font-size: 50px;
        letter-spacing: -3px;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.099);
    }
}

input#txtloc {
    width: 200px;
    border: none;
    border-radius: 10px;
    margin-left: -20px;

    color: #c9f4ff;
    background-color: #3ed8ff;

    text-align: center;
    outline: 0;
    font-size: 1.7em;
}

#txtloc::placeholder {
    color: #c9f4ff;
    text-align: center;
}