@charset "UTF-8";

@media (max-width: 600px) {
  main {
    width: 60%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
  }

  #search-bar {
    background-color: #f0f0f0;

    height: 65px;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;

    & h1 {
      opacity: 0;
      margin: 0;
      width: 0;
      height: 0;
    }
  }

  #search-wrapper {
    width: 80%;
    height: 40px;
    margin-top: 0;

    border-radius: 10px;

    & input {
      font-size: 1em;
    }

    & input::placeholder {
      font-size: 1em;
    }

    & #btn-search {
      width: 60px;
    }
  }

  #items {
    padding: 20px;
    font-size: 1.2em;
  }

  #sets-condition {
    gap: 20px;

    margin-top: 15px;
    width: 200px;
    height: 80px;

    & img {
      width: 50px;
    }
  }

  & #temperatures {
    margin-top: 15px;
    gap: 20px;
    font-size: 1.5em;
    font-weight: 500;

    & hr {
      height: 40px;
    }
  }

  #forecast-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: rgb(252, 252, 252);
    border-radius: 30px;
    padding: 10px;
  }

  .forecast-card {
    width: 270px;
    height: 50px;
    margin: 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .forecast-card img {
    width: 35px;
    height: 35px;
  }
}